@import url(normalize.css);

em {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  background-color: rgb(206, 206, 206);
}

.header {
  grid-column: 2 / 3;
  background-color: whitesmoke;
  box-shadow: 0 2px 12px gray;
}

.sidebar {
  grid-row: 1 / 3;
  color: whitesmoke;
  background-color: rgb(61, 157, 254);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.main-area {
  grid-area: 2 / 2 / 3 / 2;
}

.project-overview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 1rem;
}

.project-overview > * {
  background-color: white;
  border-radius: 6px;
  border-left: 6px solid orange;
  box-shadow: 0 0 12px gray;
  padding: 1rem;
  font-size: 0.8rem;
  color: gray;
}

.project-overview > * > div:first-child {
  color: black;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
